<h1>Edit User</h1>
<%= form_with model: Current.user, url: edit_userupdate_path do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name, placeholder: "enter a name" %>
       
    </div>
    <div>
      <%= form.label :email %><br>
      <%= form.email_field :email, placeholder: "email@email.com" %>
       
    </div>
    <div>
      <%= form.label :password %><br>
      <%= form.password_field :password, placeholder: "password" %>
      
    </div>
    <div>
      <%= form.label :user_type %><br>
      <%= form.select :user_type, options_for_select(User.user_types.map {|key, value| [key.titleize, User.user_types.key(value)]}, Current.user.user_type) %>
       
    </div>
    <div>
    <%= form.submit "Update", class: "btn btn-primary" %>
    </div>
<%end%>